
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
  margin: 0;
  padding: 0;
}
header {
  background: #091540;
  color: #ffcb05;
  padding: 1em;
  text-align: center;
}
nav {
  background: #1b2cc1;
  padding: 0.5em;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 2em;
  background: white;
  border-radius: 10px;
  margin-top: 2em;
}
footer {
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  color: #666;
}
